Port 2222
Protocol 2
HostKey /run/clockchain/ssh_host_ed25519_key
PidFile /run/clockchain/sshd.pid
AuthorizedKeysFile /run/clockchain/authorized_keys
PasswordAuthentication no
KbdInteractiveAuthentication no
PermitRootLogin no
PubkeyAuthentication yes
AuthenticationMethods publickey
AllowUsers clockchain-tunnel
AllowTcpForwarding remote
GatewayPorts clientspecified
PermitOpen none
PermitListen 0.0.0.0:9443
PermitTTY no
X11Forwarding no
PermitUserRC no
AllowAgentForwarding no
AllowStreamLocalForwarding no
MaxSessions 1
MaxStartups 1:1:1
ClientAliveInterval 15
ClientAliveCountMax 2
LogLevel ERROR
ForceCommand /usr/sbin/nologin
